/**
 * wgt-calendar
 *
 */
.wgt-calendar-wrapper {
	padding: 10px 0 0 10px;
	width: 500px;
	border: 1px solid #D2D2D2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	background-color: #FFFFFF;
	z-index: 3;
	display: none;
}
.wgt-calendar-head {
	zoom: 1;
}
.wgt-calendar-control {
	zoom: 1;
	margin: 0 0 10px;
}
.wgt-calendar-control:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}
.wgt-calendar-control-li {}
li.wgt-calendar-control-left {
	float: left;
	display: inline;
	font-size: 92.3%;
}
a.wgt-calendar-prev {
	display: block;
}

li.wgt-calendar-control-right {
	float: right;
	display: inline;
	font-size: 92.3%;
}
a.wgt-calendar-next {
	display: block;
	margin: 0 10px 0 0;
}

.wgt-calendar-select {
	margin: 0 10px 0 0;
	text-align: right;
}

.wgt-calendar-body {}
.wgt-calendar-item {
	float: left;
	display: inline;
	margin: 0 10px 10px 0;
	padding: 3px 0 0;
	width: 240px;
}
.wgt-calendar-item:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

.wgt-calendar-item select {
	margin: 0 5px;
}
.wgt-calendar-table {
	width: 100%;
	border: 1px solid #D2D2D2;
	background-color: #FFFFFF;
}
.wgt-calendar-table-tr {}
.wgt-calendar-table-tr-month {}
.wgt-calendar-table-th,
.wgt-calendar-table-td {
	text-align: center;
	vertical-align: middle;
	font-size: 92.3%;
}
.wgt-calendar-table-th {}
.wgt-calendar-table-th-month {
	padding: 0 0 3px;
	height: 23px;
	background-color: #666666;
	color: #FFFFFF;
	font-weight: bold;
}
.wgt-calendar-table-th-month select {
	font-weight: normal;
}
.wgt-calendar-table-th-week {
	padding: 4px 0;
	border-bottom: 1px solid #D2D2D2;
}
.wgt-calendar-disabled {
	color: #999999;
}
.wgt-calendar-table-td {}
.wgt-calendar-table-td a {
	padding: 4px 0;
	display: block;
	font-weight: bold;
	text-decoration: none;
	color: #333333;
	zoom: 1;
}
.wgt-calendar-table-td a:hover {
	color: #FFFFFF !important;/*--balance out base.css's a:hover !important--*/
	background-color: #D264B7;
	text-decoration: none;/*--ie6 fix--*/
}
.wgt-calendar-table-td a.wgt-calendar-disabled {
	color: #999999;
	background-color: #F0F0F0;
	cursor: default;
}
.wgt-calendar-table-td a.wgt-calendar-disabled:hover {
	color: #999999 !important;
	background-color: #F0F0F0;
}
.wgt-calendar-table-td a.wgt-calendar-selected {
	color: #FFFFFF;
	background-color: #D264B7 !important;
}
.wgt-calendar-sat a                            { background-color: #DDDDFF !important; }
.wgt-calendar-sat a:hover                      { background-color: #D264B7 !important; }
.wgt-calendar-sat a.wgt-calendar-disabled:hover { background-color: #DDDDFF !important; }
.wgt-calendar-sun a                            { background-color: #FFDEDD !important; }
.wgt-calendar-sun a:hover                      { background-color: #D264B7 !important; }
.wgt-calendar-sun a.wgt-calendar-disabled:hover { background-color: #FFDEDD !important; }

